<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pantry Swap</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script type="module" src="/src/components/navbar.js"></script>
    <script type="module" src="/src/scripts/buyListings.js" defer></script>
    <link rel="stylesheet" href="./public/main.css" />
    <script src="/src/scripts/tutorialSearch.js" defer></script>
  </head>
  <body class="min-h-screen flex flex-col">
    <site-navbar></site-navbar>
    <!-- main body starts here -->
    <div class="site-margins mx-auto">
      <!-- category and distance buttons -->
      <div class="flex gap-2 mb-8 ml-8 md:ml-0 w-full">
        <!-- ================================== -->
        <!-- Category dropdown -->
        <!-- ================================== -->
        <div class="relative" id="categories">
          <button
            type="button"
            class="border-2 border-light-grey rounded-full px-4 py-2"
            id="catDropdownButton"
          >
            <h5 id="catSelectedText" class="font-semibold">Categories</h5>
          </button>

          <div id="catDropdown" class="absolute mt-2 card hidden z-50 w-56">
             
            <label
              class="checkbox-item flex items-center gap-3 cursor-pointer card-item"
            >
              <input type="checkbox" value="Meat" class="hidden catItem" />
              <span class="circle-checkbox"
                ><span class="circle-checkbox-dot"></span
              ></span>
              <span class="small-label">Meat</span>
            </label>

            <label
              class="checkbox-item flex items-center gap-3 cursor-pointer card-item"
            >
              <input type="checkbox" value="Dairy" class="hidden catItem" />
              <span class="circle-checkbox"
                ><span class="circle-checkbox-dot"></span
              ></span>
              <span class="small-label">Dairy</span>
            </label>

            <label
              class="checkbox-item flex items-center gap-3 cursor-pointer card-item"
            >
              <input
                type="checkbox"
                value="Cooked Meals"
                class="hidden catItem"
              />
              <span class="circle-checkbox"
                ><span class="circle-checkbox-dot"></span
              ></span>
              <span class="small-label">Cooked Meals</span>
            </label>

            <label
              class="checkbox-item flex items-center gap-3 cursor-pointer card-item"
            >
              <input
                type="checkbox"
                value="Baked Goods"
                class="hidden catItem"
              />
              <span class="circle-checkbox"
                ><span class="circle-checkbox-dot"></span
              ></span>
              <span class="small-label">Baked Goods</span>
            </label>
          </div>
        </div>

        <div class="relative" id="distance">
          <!-- Distance Dropdown -->
          <button class="border-2 rounded-full p-2 border-[#DCDCDC] font-semibold min-w-24 cursor-pointer" id="distanceBtn">
            <h5 id="distanceSelectedText" class="font-semibold">Distance</h5>
          </button>

          <div id="distanceDropdown" class="absolute mt-2 card hidden z-50 w-56">
             
            <label class="checkbox-item flex items-center gap-3 cursor-pointer card-item">
              <input type="radio" value="1" name="distance" class="hidden distanceItem" />
              <span class="circle-checkbox"><span class="circle-checkbox-dot"></span></span>
              <span class="small-label">less than 1 km</span>
            </label>
            <label class="checkbox-item flex items-center gap-3 cursor-pointer card-item">
              <input type="radio" value="5" name="distance" class="hidden distanceItem" />
              <span class="circle-checkbox"><span class="circle-checkbox-dot"></span></span>
              <span class="small-label">less than 5 km</span>
            </label>
            <label class="checkbox-item flex items-center gap-3 cursor-pointer card-item">
              <input type="radio" value="10" name="distance" class="hidden distanceItem" />
              <span class="circle-checkbox"><span class="circle-checkbox-dot"></span></span>
              <span class="small-label">less than 10 km</span>
            </label>
            <label class="checkbox-item flex items-center gap-3 cursor-pointer card-item">
              <input type="radio" value="1000" name="distance" class="hidden distanceItem" />
              <span class="circle-checkbox"><span class="circle-checkbox-dot"></span></span>
              <span class="small-label">No limit</span>
            </label>

          </div>

        </div>
        
      </div>
      <!-- div for holding listings, for now holds placeholder cards -->
      <div class="card-grid" id="listingsHolder"></div>
    </div>
  </body>
</html>
